@import 'tailwindcss';


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@theme{
  --color-background: oklch(0.985 0 0);
  --color-foreground: oklch(0.279 0.041 260.031);
  --color-card: oklch(0.279 0.041 260.031);
  --color-green: oklch(0.723 0.219 149.579);
  --color-card-foreground: oklch(0.985 0.001 106.423);
  --color-popover: oklch(0.279 0.041 260.031);
  --color-popover-foreground: oklch(0.985 0 0);
  --color-primary: oklch(0.985 0 0); 
  --color-primary-foreground: oklch(0.279 0.041 260.031);
  --color-secondary: oklch(0.852 0.199 91.936);
  --color-secondary-foreground: oklch(0.279 0.041 260.031);
  --color-muted: oklch(0.905 0.182 98.111);
  --color-muted-foreground: oklch(0.708 0 0);
  --color-accent: oklch(0.852 0.199 91.936);
  --color-accent-foreground: oklch(0.985 0 0);
  --color-destructive: oklch(0.637 0.237 25.331);
  --color-destructive-foreground: oklch(0.637 0.237 25.331);
  --color-border: oklch(0.985 0.001 106.423);
  --color-input: oklch(0.216 0.006 56.043);
  --ring: oklch(0.985 0.001 106.423);
  --color-chart-1: oklch(0.705 0.213 47.604);
  --color-chart-2: oklch(0.705 0.213 47.604);
  --color-chart-3: oklch(0.705 0.213 47.604);
  --color-chart-4: oklch(0.712 0.194 13.428);
  --color-chart-5: oklch(0.712 0.194 13.428);
  --color-sidebar: oklch(0.279 0.041 260.031);
  --color-sidebar-foreground: oklch(0.985 0 0);
  --color-sidebar-primary: oklch(0.985 0 0);
  --color-sidebar-primary-foreground: oklch(0.279 0.041 260.031);
  --color-sidebar-accent: oklch(0.985 0 0);
  --color-sidebar-accent-foreground: oklch(0.279 0.041 260.031);
  --color-sidebar-border: oklch(0.985 0 0);
  --color-sidebar-ring: oklch(0.985 0 0);
}

@layer utilities {
  .form-btn {
    background-color: var(--color-secondary);
    color: var(--color-secondary-foreground);
    &:hover {
      background-color: oklch(0.792 0.209 151.711);
      color: oklch(0.984 0.003 247.858);
    }
  }
  .form-input{
    background-color: oklch(0.985 0.001 106.423);
    color: oklch(0.279 0.041 260.031);
    width: 100%;
    &:hover {
      background-color: oklch(0.985 0 0);
      color: oklch(0.279 0.041 260.031);
    }
    &:focus {
      background-color: oklch(0.985 0 0);
      color: oklch(0.279 0.041 260.031);
    }
  }
  .form-link{
    color: var(--color-green);
    &:hover {
      color: var(--color-secondary);
    }
  }
  .glassmorphism {
    background: rgba(255, 255, 255, 0.926);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
}

@layer base{
  body{
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-antonio);
  }

}



